<div id="shopify-section-1492143466948" class="shopify-section index-section index-section--flush"><div class="hero hero--large hero__overlay" style="background-image: url(https://cdn.shopify.com/s/files/1/1837/8723/t/8/assets/masthead__menu.jpg?16026231986921306215); background-position: center center;">
  <div class="hero__inner">
    <div class="page-width text-center">

      <img src="https://cdn.shopify.com/s/files/1/1837/8723/t/8/assets/masthead__menu-text.png?8153837459502475056" width="750px" style="margin-top:40px;" alt="Start your order">
      {% if customer %}
      <div class="rte-setting mega-subtitle">
        <p>Create delicious family meals with a few mouse-clicks! Order á la carte for total customization or save time with our pre-built box meals.</p>
        <ul>
          <li class="material-icons" style="letter-spacing:-17px;">star_ratestar_ratestar_ratestar_rate</li>
        </ul>
      </div>
      {% else %}
      {% endif %} 
    </div>
  </div>
  </div>
</div>

<div class="page-width">  
  <div class="grid">
    <div class="grid__item medium-up--one-whole">
      <div class="section-header text-center">
        <h1>How would you like to order?</h1>
        {% unless customer %}<p class="login-warning">You must be logged in to order. <a href="/account/login">Login</a> Don't have an account? <a href="/pages/signup">Sign Up</a></p>{% endunless %}
      </div>

      <div class="flex-row">
        <div class="flex-col flex-col--sm">
          <div class="slider-card">
            <div class="slider-card__img">
              <div class="alacarte-slider">
                <div><img src="{{ 'a-la-carte_chicken-biscuits.jpg' | asset_url }}"></div>
                <div><img src="{{ 'a-la-carte_charcuterie-board.jpg' | asset_url }}"></div>
                <div><img src="{{ 'a-la-carte_apple-crisp.jpg' | asset_url }}"></div>
                <div><img src="{{ 'a-la-carte_veggies-hummus.jpg' | asset_url }}"></div>
                <div><img src="{{ 'a-la-carte_tomato-soup.jpg' | asset_url }}"></div>
                <div><img src="{{ 'a-la-carte_lamb.jpg' | asset_url }}"></div>
                <div><img src="{{ 'a-la-carte_bacon-dates.jpg' | asset_url }}"></div>
                <div><img src="{{ 'a-la-carte_chicken.jpg' | asset_url }}"></div>
                <div><img src="{{ 'a-la-carte_sticky-roll.jpg' | asset_url }}"></div>
              </div>
            </div>
            <div class="slider-card__body">
              <h4>À La Carte</h4>
              <p>Order anything you like. Choose from entrées, soups, salads, dessert &amp; more! Just remember to hit the $49.99 minimum.</p>
              <a class="btn" href="/collections/appetizers">Order À La Carte</a>
            </div>            
          </div>
        </div>
        <div class="flex-col flex-col--sm">
          <div class="slider-card">
            <div class="slider-card__img">
              <div class="box-slider">
                <div><img src="{{ 'box_classic.jpg' | asset_url}}"></div>
                <div><img src="{{ 'box_vegan.jpg' | asset_url}}"></div>
                <div><img src="{{ 'box_gluten-free.jpg' | asset_url}}"></div>
              </div>
            </div>
            <div class="slider-card__body">
              <h4>Box Meals</h4>
              <p>Save time, let our chefs create a delicious four-course meal for you. We offer classic, vegan, and gluten free options.</p>
              <a class="btn" href="/pages/menu-box-meals">Order A Box Meal</a>
            </div>            
          </div>          
        </div>        
      </div>

    </div>
  </div>
</div>

  {{ 'slick.min.js' | asset_url | script_tag }}
  
  <script type="text/javascript">
    $(document).ready(function(){
      $('.alacarte-slider').slick({
        autoplay: true,
        autoplaySpeed: 3500,
        variableWidth: true,
        arrows: false,
        centerMode: true,
        centerPadding: 0,
        slidesToShow: 1,
        cssEase: 'ease-out',
        draggable: false
      });
      $('.box-slider').slick({
        autoplay: true,
        autoplaySpeed: 5500,
        variableWidth: true,
        arrows: false,
        centerMode: true,
        centerPadding: 0,
        slidesToShow: 1,
        cssEase: 'ease-out',
        draggable: false
      });      
    });
  </script>